<header class="blur">
        <div class="container">
            <nav id="navbar1" class="">
                <h1 class="heding-big" data-text="POE Gems">POE Gems</h1>
                <ul class="">
                    <li>
                        <a class="" href="/">Main</a>
                    </li>
                    <li>
                        <a class="" href="/directory">Directory</a>
                    </li>
                    <li>
                        <a class="" href="/favorites">Gem Favorites</a>
                    </li>
                    <li>
                        <a class="" href="/gemslevel">Gems Level</a>
                    </li>
                    <li>
                        <a class="" href="/yourrun">Your Run</a>
                    </li>
                    <li>
                        <a class="" href="/users/login">Login</a>
                    </li>
                    <li>
                        <a class="" href="/users/register">Register</a>
                    </li>
                </ul>                
            </nav>
        </div>
    </header>