#main{
    flex-wrap: nowrap;
    display: flex;
}

.main{
    margin-left: 20rem;
    display: flex;
    align-items: flex-start;
    margin-right: 20rem;
}

.t1{
    padding: 1.5rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
}

.t1 h2{
    color: #DEE2E6;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.25;
}

.input-search{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: calc(1rem / 2);
    flex: 1 1 15ch;
}

.input-search input{
    --height: 3rem;
    --inputFontSize: 1.0rem;
    font-size: 1rem;
    height: 3rem;
    font-weight: 1rem;
    border-radius: 0.25rem;
    padding: 0px 1em;
    width: 100%;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  /* 1 */
  .btn-1 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
  }
  .btn-1:hover {
     background: rgb(0,3,255);
  background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
  }