<head>
    <link rel="stylesheet" href="../css/login.css">
</head>

<div id="main">
    <div class="main">
        <div class="con content blur2">
                <section>
                    <div class="t1">
                        <div>
                            <div>
                                <div>
                                    <h2>Login POE Gems</h2>
                                </div>
                                <form action="/users/login" method="POST">
                                    <div class="input-search" style="position: relative;">
                                        <input type="text" placeholder="Username" class="form__input" name="username" />
                                    </div>
                                    
                                    <div class="input-search" style="position: relative;">
                                        <input type="password" placeholder="Password" class="form__input" name="password" />
                                    </div>
                                    <button class="custom-btn btn-1" type="submit">LogIn</button>
                                </form>
                            </div>
                            <div>

                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </div>
</div>